<h2 class="page-header">Búsqueda de Estudiante</h2>
<hr>
<form autocomplete="off">
  <div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Introduzca la cédula de identidad del estudiante a editar/eliminar</p>
				<label class="first">
					<select [(ngModel)]="ci_type" name="ci_type" class="form-control" id="ci_type">
						<option>V</option>
						<option>E</option>
					</select>
				</label>
				<label>
					<input type="text" [(ngModel)]="ci" name="ci" class="form-control" id="ci" autofocus>
				</label>
			</div>
		</div>
	</div>
	<input type="submit" (click)="studentEdit()" class="btn btn-primary" value="Editar">
	<input type="submit" (click)="studentDelete()" class="btn btn-primary" value="Eliminar">
</form>
<hr>
<h2>Búsqueda de Representante</h2>
<hr>
<form autocomplete="off">
  <div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Introduzca la cédula de identidad del representante a editar/eliminar</p>
				<label class="first">
					<select [(ngModel)]="rci_type" name="rci_type" class="form-control" id="rci_type">
						<option>V</option>
						<option>E</option>
					</select>
				</label>
				<label>
					<input type="text" [(ngModel)]="r_ci" name="r_ci" class="form-control" id="r_ci" autofocus>
				</label>
			</div>
		</div>
	</div>
	<input type="submit" (click)="repEdit()" class="btn btn-primary" value="Editar">
	<input type="submit" (click)="repDelete()" class="btn btn-primary" value="Eliminar">
</form>
