<h1 class="page-header">Edición de Estudiante</h1>
<p>* Significa que el campo es obligatorio</p>
<hr>
<form class="form-horizontal" (submit)="onEditSubmit()" autocomplete="off">
	<h2>Datos del Estudiante ({{ci}})</h2>
	<br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>* Nombres</p>
				<input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" autofocus>
			</div>
			<div class="col-sm-4">
				<p>* Apellidos</p>
				<input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" id="lastname" autofocus>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>* Fecha de Nacimiento</p>
				<input type="date" [(ngModel)]="birthdate" name="birthdate" class="form-control" id="birthdate" autofocus>
			</div>
			<div class="col-sm-4">
				<p>* Género</p>
				<select [(ngModel)]="gender" name="gender" class="form-control" id="gender">
					<option>Masculino</option>
					<option>Femenino</option>
				</select>
			</div>
			<div class="col-sm-4">
				<label>
					<p>¿Es Zurdo? Seleccione para indicar "Si"</p>
					<input type="checkbox" [(ngModel)]="left_handed" name="left_handed" class="form-control" id="left_handed">
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>* País de Nacimiento</p>
				<input type="text" [(ngModel)]="country" name="country" class="form-control" id="country" autofocus>
			</div>
			<div class="col-sm-4">
				<p>* Estado</p>
				<input type="text" [(ngModel)]="state" name="state" class="form-control" id="state" autofocus>
			</div>
			<div class="col-sm-4">
				<p>* Municipio</p>
				<input type="text" [(ngModel)]="municipality" name="municipality" class="form-control" id="municipality" autofocus>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Celular</p>
				<input type="text" [(ngModel)]="cellphone" name="cellphone" class="form-control" id="cellphone" autofocus>
				<p>Ejemplo: 0416-555555</p>
			</div>
			<div class="col-sm-4">
				<p>Correo Electrónico</p>
				<input type="text" [(ngModel)]="email" name="email" class="form-control" id="email" autofocus>
				<p>Ejemplo: ejemplo@correo.com</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Actividad Extracurricular</p>
				<input type="text" [(ngModel)]="hobby" name="hobby" class="form-control" id="hobby" autofocus>
				<p>Ejemplo: Fútbol, Natación, etc. (Una sola actividad)
			</div>
			<div class="col-sm-4">
				<label>
					<p>¿Posee beca académica? Seleccione para indicar "Si"</p>
					<input type="checkbox" [(ngModel)]="scholarship" name="scholarship" class="form-control" id="scholarship">
				</label>
			</div>
			<div class="col-sm-4">
				<label>
					<p>¿Posee una Canaima? Seleccione para indicar "Si"</p>
					<input type="checkbox" [(ngModel)]="canaima" name="canaima" class="form-control" id="canaima">
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Altura (cm)</p>
				<input type="number" [(ngModel)]="height" name="height" class="form-control" id="height" autofocus>
				<p>Ejemplo: 160</p>
			</div>
			<div class="col-sm-4">
				<p>Peso (Kg)</p>
				<input type="number" [(ngModel)]="weight" name="weight" class="form-control" id="weight" autofocus>
				<p>Ejemplo: 55.5</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Talla de Camisa</p>
				<select [(ngModel)]="shirt_size" name="shirt_size" class="form-control" id="shirt_size">
					<option>XS</option>
					<option>S</option>
					<option>M</option>
					<option>L</option>
					<option>XL</option>
				</select>
			</div>
			<div class="col-sm-4">
				<p>Talla de Pantalón</p>
				<select [(ngModel)]="pants_size" name="pants_size" class="form-control" id="pants_size">
					<option>28</option>
					<option>29</option>
					<option>30</option>
					<option>31</option>
					<option>32</option>
					<option>33</option>
					<option>34</option>
					<option>35</option>
					<option>36</option>
					<option>37</option>
					<option>38</option>
				</select>
			</div>
			<div class="col-sm-4">
				<p>Talla de Zapato</p>
				<select [(ngModel)]="shoe_size" name="shoe_size" class="form-control" id="shoe_size">
					<option>30</option>
					<option>31</option>
					<option>32</option>
					<option>33</option>
					<option>34</option>
					<option>35</option>
					<option>36</option>
					<option>37</option>
					<option>38</option>
					<option>39</option>
					<option>40</option>
					<option>41</option>
					<option>42</option>
					<option>43</option>
					<option>44</option>
					<option>45</option>
				</select>
			</div>
		</div>
	</div>
	<hr>
	<h2>Datos del Representante</h2>
	<br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>* Cédula de Identidad</p>
				<label class="first">
					<select [(ngModel)]="rci_type" name="rci_type" class="form-control" id="rci_type">
						<option>V</option>
						<option>E</option>
					</select>
				</label>
				<label>
					<input type="text" [(ngModel)]="r_ci" name="r_ci" class="form-control" id="r_ci" autofocus>
				</label>
			</div>
			<div class="col-sm-4">
				<p>Parentesco</p>
				<input type="text" [(ngModel)]="kinship" name="kinship" class="form-control" id="kinship" autofocus>
				<p>Ejemplo: Padre, Madre, Hermano, etc.</p>
			</div>
		</div>
	</div>
	<hr>
	<input type="submit" class="btn btn-primary" value="Editar">
	<br>
	<br>
	<br>
</form>
