<h1 class="page-header">Inscripción/Modificación de Estudiante</h1>
<hr>
<form class="form-horizontal" (submit)="onEnrollSubmit()" autocomplete="off">
	<h2>Cedula del Estudiante: ({{ci}})</h2>
	<br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-3">
				<p>Grado</p>
				<select [(ngModel)]="grade" name="grade" class="form-control" id="grade">
					<option>7mo</option>
          			<option>8vo</option>
          			<option>9no</option>
          			<option>4to</option>
          			<option>5to</option>
				</select>
			</div>
			<div class="col-sm-3">
				<p>Sección</p>
				<select [(ngModel)]="section" name="section" class="form-control" id="section">
					<option>A</option>
          			<option>B</option>
          			<option>C</option>
          			<option>D</option>
          			<option>E</option>
          			<option>F</option>
				</select>
			</div>
			<div class="col-sm-3">
				<p>Descripción del tipo de Modificación</p>
				<select [(ngModel)]="commit" name="commit" class="form-control" id="commit">
					<option>Inscripción</option>
          			<option>Expulsión</option>
          			<option>Cambio de Sección</option>
          			<option>Cambio de Grado</option>
          			<option>Graduación</option>
				</select>
			</div>
		</div>
  </div>
  <hr>
	<input type="submit" class="btn btn-primary" value="Guardar">
	<br>
	<br>
	<br>
</form>
