<h1 class="page-header">Eliminar Representante</h1>
<hr>
	<h2>Datos del Representante ({{ci}})</h2>
	<br>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Nombres</b>
				<p>{{name}}<p>
			</div>
			<div class="col-sm-4">
				<b>Apellidos</b>
				<p>{{lastname}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Estado Civil</b>
				<p>{{civil_status}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Dirección</b>
				<p>{{address}}<p>
			</div>
			<div class="col-sm-4">
				<b>Tipo de Vivienda</b>
				<p>{{house_type}}<p>
			</div>
			<div class="col-sm-4">
				<b>Condicion de Vivienda</b>
				<p>{{house_status}}<p>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-sm-4">
				<b>Celular</b>
				<p>{{cellphone}}<p>
			</div>
			<div class="col-sm-4">
				<b>Teléfono (Casa)</b>
				<p>{{telephone}}<p>
      </div>
      <div class="col-sm-4">
				<b>Correo Electrónico</b>
				<p>{{email}}<p>
			</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Ocupación</b>
				<p>{{occupation}}<p>
			</div>
			<div class="col-sm-4">
				<b>Compañia</b>
				<p>{{company}}<p>
			</div>
			<div class="col-sm-4">
				<b>Ingreso Promedio</b>
				<p>{{avg_income}}<p>
			</div>
		</div>
	</div>
<hr>
<input type="submit" (click)="onDeleteClick()" class="btn btn-primary" value="Eliminar">
<br>
<br>
<br>