<h1 class="page-header">Inserción de Representante</h1>
<p>* Significa que el campo es obligatorio</p>
<hr>
<form class="form-horizontal" (submit)="onInsertSubmit()" autocomplete="off">
	<h2>Datos del Representante</h2>
	<br>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>* Cédula de Identidad</p>
				<label class="first">
					<select [(ngModel)]="ci_type" name="ci_type" class="form-control" id="ci_type">
						<option>V</option>
						<option>E</option>
					</select>
				</label>
				<label>
					<input type="text" [(ngModel)]="ci" name="ci" class="form-control" id="ci" autofocus>
				</label>
			</div>
			<div class="col-sm-4">
				<p>* Nombres</p>
				<input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" autofocus>
			</div>
			<div class="col-sm-4">
				<p>* Apellidos</p>
				<input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" id="lastname" autofocus>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Estado Civil</p>
				<select [(ngModel)]="civil_status" name="civil_status" class="form-control" id="civil_status">
					<option>Soltero</option>
					<option>Casado</option>
					<option>Divorciado</option>
					<option>Viudo</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>* Dirección</p>
				<input type="text" [(ngModel)]="address" name="address" class="form-control" id="address" autofocus>
			</div>
			<div class="col-sm-4">
				<p>Tipo de Vivienda</p>
				<select [(ngModel)]="house_type" name="house_type" class="form-control" id="house_type">
					<option>Casa</option>
					<option>Quinta</option>
					<option>Apartamento</option>
				</select>
			</div>
			<div class="col-sm-4">
				<p>Condición de Vivienda</p>
				<select [(ngModel)]="house_status" name="house_status" class="form-control" id="house_status">
					<option>X</option>
					<option>Y</option>
					<option>Z</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Celular</p>
				<input type="text" [(ngModel)]="cellphone" name="cellphone" class="form-control" id="cellphone" autofocus>
				<p>Ejemplo: 0416-555555</p>
			</div>
			<div class="col-sm-4">
				<p>Teléfono (casa)</p>
				<input type="text" [(ngModel)]="telephone" name="telephone" class="form-control" id="telephone" autofocus>
				<p>Ejemplo: 0274-2555555</p>
			</div>
			<div class="col-sm-4">
				<p>Correo Electrónico</p>
				<input type="text" [(ngModel)]="email" name="email" class="form-control" id="email" autofocus>
				<p>Ejemplo: ejemplo@correo.com</p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Ocupación</p>
				<input type="text" [(ngModel)]="occupation" name="occupation" class="form-control" id="occupation" autofocus>
			</div>
			<div class="col-sm-4">
				<p>Compañia</p>
				<input type="text" [(ngModel)]="company" name="company" class="form-control" id="company" autofocus>
			</div>
			<div class="col-sm-4">
				<p>Ingreso Promedio (Bs.S)</p>
				<input type="number" [(ngModel)]="avg_income" name="avg_income" class="form-control" id="avg_income" autofocus>
			</div>
		</div>
	</div>
	<hr>
	<input type="submit" class="btn btn-primary" value="Insertar">
	<br>
	<br>
	<br>
</form>
