<h1 class="page-header">Exportación de Datos</h1>
<hr>
<form autocomplete="off">
  <div class="form-group">
		<div class="row">
			<div class="col-sm-6">
				<h2>Exportación de Datos (Formato Nº 1)</h2>
				<p>Descripción de formato Nº 1</p>
				<label>
					<input type="submit" (click)="exportSubmit()" class="btn btn-primary" value="Exportar">
				</label>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2>Exportación de Datos (Formato Nº 2)</h2>
				<p>Descripción de formato Nº 2</p>
				<label>
					<input type="submit" (click)="export2()" class="btn btn-primary" value="Exportar">
				</label>
			</div>
		</div>
	</div>
</form>