<h2 class="page-header">Registro</h2>
<form (submit)="onRegisterSubmit()" autocomplete="off" >
  <div class="form-group">
    <label for="username">Usuario</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Introduzca el nombre de usuario">
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Introduzca la contraseña">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>