<app-navbar></app-navbar>
<div class="container">
	<!--Diferentes rutas de la aplicación-->
	<router-outlet></router-outlet>
	<!--Inclusión de mensajes personalizados-->
	<flash-messages></flash-messages>
</div>

