<div class="jumbotron text-center">
  <h1>Sistema de Gestión de Inscripción</h1>
  <h1>Liceo Bolivariano Caracciolo Parra y Olmedo</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Insertar Datos</h3>
    <p>Página de inserción de datos para estudiantes y representantes.</p>
	<a class="btn btn-primary" [routerLink]="['/insert']">Estudiantes</a>
	&nbsp;
	<a class="btn btn-primary" [routerLink]="['/insert-rep']">Representantes</a>
  </div>
  <div class="col-md-4">
    <h3>Inscripción y Modificación</h3>
    <p>Página de inscripción y modificación de estado de los estudiantes.</p>
	<a class="btn btn-primary" [routerLink]="['/enrollment']">Modificación</a>
  </div>
  <div class="col-md-4">
    <h3>Exportación de Datos</h3>
    <p>Página de exportación de datos relacionados con los estudiantes.</p>
	<a class="btn btn-primary" [routerLink]="['/export']">Exportación</a>
  </div>
</div>
