<h2 class="page-header">Búsqueda de Estudiante</h2>
<hr>
<form autocomplete="off">
  <div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<p>Introduzca la cédula de identidad del estudiante</p>
				<label class="first">
					<select [(ngModel)]="ci_type" name="ci_type" class="form-control" id="ci_type">
						<option>V</option>
						<option>E</option>
					</select>
				</label>
				<label>
					<input type="text" [(ngModel)]="ci" name="ci" class="form-control" id="ci" autofocus>
				</label>
			</div>
		</div>
	</div>
	<input type="submit" (click)="studentEnroll()" class="btn btn-primary" value="Buscar">
</form>
