<h1 class="page-header">Eliminar Estudiante</h1>
<hr>
	<h2>Datos del Estudiante ({{ci}})</h2>
	<br>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Nombres</b>
				<p>{{name}}<p>
			</div>
			<div class="col-sm-4">
				<b>Apellidos</b>
				<p>{{lastname}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Fecha de Nacimiento</b>
				<p>{{birthdate}}<p>
			</div>
			<div class="col-sm-4">
				<b>Género</b>
				<p>{{gender}}<p>
			</div>
			<div class="col-sm-4">
				<b>¿Es Zurdo?</b>
				<p>{{left_handed}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>País de Nacimiento</b>
				<p>{{country}}<p>
			</div>
			<div class="col-sm-4">
				<b>Estado</b>
				<p>{{state}}<p>
			</div>
			<div class="col-sm-4">
				<b>Municipio</b>
				<p>{{municipality}}<p>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-sm-4">
				<b>Celular</b>
				<p>{{cellphone}}<p>
			</div>
			<div class="col-sm-4">
				<b>Correo Electrónico</b>
				<p>{{email}}<p>
			</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Actividad Extracurricular</b>
				<p>{{hobby}}<p>
			</div>
			<div class="col-sm-4">
				<b>¿Posee beca académica?</b>
				<p>{{scholarship}}<p>
			</div>
			<div class="col-sm-4">
				<b>¿Posee una Canaima?</b>
				<p>{{canaima}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Altura (cm)</b>
				<p>{{height}}<p>
			</div>
			<div class="col-sm-4">
				<b>Peso (Kg)</b>
				<p>{{weight}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Talla de Camisa</b>
				<p>{{shirt_size}}<p>
			</div>
			<div class="col-sm-4">
				<b>Talla de Pantalón</b>
				<p>{{pants_size}}<p>
			</div>
			<div class="col-sm-4">
				<b>Talla de Zapato</b>
				<p>{{shoe_size}}<p>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<b>Cédula del Representante</b>
				<p>{{r_ci}}<p>
			</div>
		</div>
	</div>
<hr>
<input type="submit" (click)="onDeleteClick()" class="btn btn-primary" value="Eliminar">
<br>
<br>
<br>